$base-font-family = "Arial"

$breakpoints = {
  xs: 576px,
  sm: 768px,
  md: 1024px,
  lg: 1200px
}

$color-primary = #74ee15
$color-error = #d94c4c
$color-success = #35b24a
$color-warning = #ffa526
$color-dark = #333333
$color-white = white
$color-grey = #999999
